/* Fonts */

@font-face {
    font-family: "Cuprum";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/cuprum.woff2") format("woff2");
    src: url("../fonts/cuprum.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/cuprumbold.woff2") format("woff2");
    src: url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-weight: normal;
    font-style: italic;
    src: url("../fonts/cuprumitalic.woff2") format("woff2");
    src: url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/cuprumbolditalic.woff2") format("woff2");
    src: url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/ptsans.woff2") format("woff2");
    src: url("../fonts/ptsans.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-weight: bold;
    font-style: normal;
    src: url("../fonts/ptsansbold.woff2") format("woff2");
    src: url("../fonts/ptsansbold.woff") format("woff");
}

/* Variables */

:root {
    --basic-blue: #3D546F;
    --footer-blue: #293449;
    --text-darkblue: #32425C;
    --active-nav-item: #161D29;
    --text-grey: #A9A9A9;
    --basic-greylight: #C5C5C5;
    --background-offers-card: #AD9B87;
    --light-grey: #EAEAEA;
    --border-grey: #EEEEEE;
    --basic-background: #F1F5F7;
    --header-background: #F3F7F9;
    --checkbox-fill-color: #C5C5C5;
    --checkbox-fill-hover: #B5B5B5;
    --checkbox-fill-disable: #E9E9E9;
    --alto-color: #CFCFCF;
    --basic-red: #ee3643;
    --logo-border-color: #B52933;
    --logo-border-active: #8D1E26;
    --button-hover: #CA2C37;
    --active-click-red: #BA2732;
    --button-click-red: #BA2732;
    --red-shadow: #B52933;
    --basic-green: #63A63E;
    --basic-white: #FFFFFF;
    --basic-black:#000000;
    --theme-orange: #FFBF47;
    --theme-piction-blue: #3BBCE3;
    --theme-light-orchid: #DC91D8;
    --theme-feijoa: #8ED78F;
    --iron-color: #D7DCDE;
    --heading-color: #F9F5F0;
    --button-hover-green: #5FBB2D;
    --button-click-green: #518534;
    --button-outline-green: #367315;
    --button-modal-background: #F4F4F4;
    --border-button: #E5E5E5;
    --button-warning: #FFBF47;
    --social-background: #212A3A;
    --background-catalog: #F7F3EC;
    --yellow-for-link: #FFD180;
    --img-hover: #3D546F;
}

/* Global */

.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.page__body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: center;
}

img {
    max-width: 100%;
    height: auto;
}

/* Container index.html */

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;

  overflow: auto;
}

/* Page */

.page {
  height: 100%;
}

.page-catalog__container {
  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
  margin-top: 20px;
}

.page-catalog__container_full-screen{
  width: 100%;
  background-color: var(--basic-background);
}

.page-catalog__breadcrumbs {
  grid-column: 1 / -1;
  margin-bottom: 15px;
}

.page-catalog__heading {
  grid-column: 1 / -1;
}

.page-catalog__sort {
  margin-left: 20px;
}

/* Main header */

.main-header {
    font-size: 18px;
    line-height: 24px;
    background-color: var(--header-background);
    display: grid;
}

/* Верхняя панель header  */

.main-header__panel {
  background-color: var(--footer-blue);
}

.main-header__panel-container {
  display: grid;
  grid-template-columns: 220px 271px 150px 150px 150px;
  overflow: visible;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  background-color: var(--basic-red);
}

.logo {
  align-self: center;
  box-shadow: 0 5px 0 0 var(--logo-border-color);
}

.logo:active {
  background-color: var(--active-click-red);
  box-shadow: 0 5px 0 0 var(--logo-border-active);
}

/*Search main*/

.main-header__search {
  position: relative;

  align-self: center;
}

.main-header__search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--basic-white);
  opacity: 0.3;
}

.main-header__search-input:focus + .main-header__search-icon {
  fill: red;
}

.main-header__search-input:hover + .main-header__search-icon {
  opacity: 1;
}

.main-header__search-input {
  outline: none;
  width: 100%;
  background-color: var(--footer-blue);
  padding: 10px 0 10px 40px;
  border: none;
}

.main-header__search-input:focus {
  background-color: white;
}

.main-header__search-input::placeholder {
  color: var(--basic-white);
  line-height: 24px;
  font-weight: normal;
}

/*Bookmarks cart main*/

.main-header__bookmarks,
.main-header__cart {
  justify-self: start;
  align-self: center;
  width: 100%;
}

.main-header__bookmarks-link {
  padding: 11px 20px;
}

.main-header__cart-link {
  padding: 10px 17px;
}

.main-header__bookmarks-link:hover .main-header__bookmarks-icon,
.main-header__cart-link:hover .main-header__cart-icon {
  opacity: 1;
}

.main-header__bookmarks-link:active,
.main-header__bookmarks-link:focus,
.main-header__cart-link:active,
.main-header__cart-link:focus {
  background-color: var(--active-nav-item);
  opacity: 0.3;
}

.main-header__cart:active  {
  opacity: 0.5;
}

.main-header__bookmarks-link,
.main-header__cart-link,
.main-header__place-order-button {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  background-color: inherit;
  border:none;
  color: var(--basic-white);

  justify-self: end;
}

.main-header__cart-link_filled {
  margin-left: 12px;
  box-sizing: content-box;
  background-color: var(--basic-red);
}

.main-header__bookmarks-icon,
.main-header__cart-icon {
  fill: var(--basic-white);
  opacity: 0.3;
  margin-right: 5px;
}

/* Зеленая кнопка Оформить заказ*/

.main-header__place-order {
  justify-self: end;
}

.main-header__place-order-button {
  background-color: var(--basic-green);
  min-width: 150px;
  padding: 9px 16px 9px 19px;
}

.main-header__place-order-button:active {
  outline: none;
  border:none;
  opacity: 0.5;
}

/* Секция контакты, вход и регистрация */

.main-header__content {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 20px;
  margin-bottom: 14px;
}

.main-header-content__lead {
  align-self: center;
  justify-self: start;
}

.main-header-content__user-login {
  justify-self: end;
  align-self: start;
  padding-top: 46px;

  display: flex;
  justify-content: space-between;
}

.main-header__main-content-text {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);

  width: 200px;
  margin: 0;
  padding: 43px 0 30px 31px;
  display: block;
}

/** Секция с телефоном и адресом */

.main-header-content__contact-details {
  align-self:center;
  justify-self: start;

  display: flex;
  flex-direction: column;
  padding-top: 19px;
}

.main-header-content__contact-details-tel {
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
  color: var(--basic-red);
  display: block;
  text-align: center;
  width: 270px;
  box-sizing: border-box;
  border: 3px solid var(--basic-white);
  padding: 6px 0 6px;
}

.main-header-content__contact-details-tel::before {
  content: url("../img/icon-phone.svg");
  margin-right: 15px;
}

.main-header-content__contact-details-address {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: var(--text-darkblue);
  margin-left: 10px;
}

/* Кнопки войти и регистрации */

.main-header-content__user-login-button,
.main-header-content__user-register-button {
    font-size: 21px;
    line-height: 21px;
    border:none;
    text-align: center;
}

.main-header-content__user-login-button {
  padding: 12px 20px;
  background-color: var(--basic-white);
  margin-right: 12px;
}

.main-header-content__user-register-button {
  padding: 12px 24px;
  background-color: var(--basic-white);
}

.main-header-content__user-login-img {
  margin-right: 7px;
}

.main-header-content__user-login-button:hover,
.main-header-content__user-register-button:hover {
    color: var(--basic-red);
    outline: none;
}

.main-header-content__user-login-button:active,
.main-header-content__user-register-button:active {
    color: var(--basic-greylight);
    outline: none;
}

.registered-user__button {
  font-size: 21px;
  line-height: 21px;
  border: none;
  background-color: inherit;
  padding: 12px 0;
}

.registered-user__button:active,
.registered-user__button:focus {
  color: var(--basic-greylight);
  outline: none;
}


.registered-user__profile-img {
  margin: 0 21px 0 15px;
}

.main-header-content__user-login-img {
  margin: 0 17px 0 20px;
}

.registered-user__profile-img,
.main-header-content__user-login-img {
  fill: var(--basic-greylight);
}

.registered-user__profile-img:hover,
.main-header-content__user-login-img:hover {
  fill: var(--img-hover);
}

.registered-user__profile-img:focus,
.main-header-content__user-login-img:focus,
.registered-user__profile-img:active,
.main-header-content__user-login-img:active {
  fill: var(--basic-greylight);
}

/* Navigation */

.main-navigation__wrapper {
  margin-bottom: 60px;
}

.main-navigation__list {
    padding: 0;
    margin: 0;
    list-style: none;
    min-height: 60px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: var(--text-darkblue);
}

.main-navigation__item-content {
    text-decoration: none;
    color: var(--basic-white);
    display: block;
    padding: 18px 30px;
}

.main-navigation__item-content:hover {
    background-color: var(--footer-blue);
}

.main-navigation__item-content:active {
    background-color: var(--footer-blue);
    color: rgba(255, 255, 255, 0.5);
}

/* Секция каталога с карточками */

.main-page__catalog {
  margin-top: 60px;
  margin-bottom: 52px;
}

.catalog-offers__item {
  position: relative;
}

.catalog-offers__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: 18px;
}

.catalog-offers__item--additional-offer {
  grid-column-start: 3;
}

.catalog-offers__item--main {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.offer-card {
  min-height: 123px;
  overflow: hidden;
  position: relative;
}

.new-category {
  text-transform: uppercase;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-red);
  width: 100px;
  height: 30px;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-card__new-border {
  transform: translate(225px, -58px) rotate(45deg);
}

.offer-card__img {
  position: absolute;
  top: 50%;
  left: 78%;
  transform: translate(-55%, -50%);
}

.offer-card__title {
    color: var(--basic-white);
    font-size: 24px;
    line-height: 30px;

    margin: 20px 0 14px 22px;
}

.offer-card__link {
  display: block;
  box-sizing: border-box;
  position: absolute;
  text-decoration: none;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.3);
  min-width: 135px;

  left: 22px;
  padding: 10px 0 10px 24px;
}

.offer-card__link:hover {
    background-color: rgba(197, 197, 197, 0.3);
}

.offer-card__link:active {
    background-color: rgba(169, 169, 169, 0.3);
}

/* Offer card background-color and position */

.offer-card--theme_orange {
  background-color: var(--theme-orange);
}

.offer-card--theme_piction-blue {
  background-color: var(--theme-piction-blue);
}

.offer-card--theme_light-orchid {
  background-color: var(--theme-light-orchid);
}

.offer-card--theme_feijoa {
  background-color: var(--theme-feijoa);
}

/* Карточка слайдера */

.detailed-offers-card__list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.detailed-offers-cards_current {
  display: block;
}

.detailed-catalog-offers__item {
  display: none;
}

.detailed-offers-card__title {
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-white);
    text-transform: uppercase;

    margin: 0;
    padding: 0;
    position: absolute;
    top: 23px;
    left: 24px;
}

.detailed-offers-card__lead {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);

    position: absolute;
    top: 64px;
    left: 24px;
}

.detailed-offers-card__link {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--basic-red);

    position: absolute;
    text-align: center;
    min-width: 144px;
    bottom: 12%;
    left: 24px;
    padding: 10px 24px;
}

.detailed-offers-card__link:hover {
    background-color: var(--button-hover);
}

.detailed-offers-card__link:active {
    background-color: var(--basic-red);
}

.detailed-offers-card__slider-controls {
  position: absolute;
  left: 48%;
  bottom: 16%;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  width: 30px;
}

.slider-controls__button {
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls__button--current {
  background-color: var(--basic-red);
}

.detailed-offers-card__slider-button--prev,
.detailed-offers-card__slider--button--next {
  position: absolute;
  bottom: 50%;
  background-color: transparent;
  border: none;
  outline: none;
}

.detailed-offers-card__slider-button--prev {
  transform: translateY(50%);
  left: 24px;
}

.detailed-offers-card__slider--button--next {
  right: 24px;
  transform: translateY(50%) rotate(180deg);
}

.detailed-offers-card__slider-button--prev:before,
.detailed-offers-card__slider--button--next:before {
  content: url("../img/icon-left.svg");
  width: 22px;
  height: 40px;
}

/* Стили заголовков секций */

.sections__heading {
    background-color: var(--heading-color);
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
}

.sections__heading-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: var(--text-darkblue);
    text-transform: uppercase;

    align-self: center;
    margin: 29px 0 30px 28px;

}

.sections__heading-link {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--basic-red);
    text-align: center;

    align-self: center;
    min-width: 144px;
    padding: 10px 24px;
    margin-right: 14px;
}

/* Секция популярные товары */

.main-page__popular-goods {
   margin-bottom: 70px;
}

.popular-goods{
  display: grid;
}

.popular-goods__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* Карточка одного товара */

.good-card {
  font-family: "PT Sans", "Arial", sans-serif;
  border: 1px solid var(--light-grey);
  position: relative;
  overflow: hidden;
  min-height: 318px;
}

.good-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.good-card:hover .good-card__image {
  display: none;
}

.good-card:hover .good-card__main-info {
  padding-top: 164px;
}


.good-card__main-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin: 6px 17px 21px 19px;
}

.good-card__image {
  margin: 0;
  width: 184px;
  height: 164px;
  object-fit: contain;
  background-color: var(--basic-white);
}

.good-card__title {
  font-size: 18px;
  line-height: 20px;
  text-align: center;

  margin: 8px 0;
}

.good-card__old-price {
  margin-bottom: 10px;
  min-height: 18px;
}

.good-card__old-price-value {
  font-size: 17px;
  line-height: 18px;
  color: var(--text-grey);
}

.good-card__price {
  background-color: var(--basic-red);
  width: 134px;
  min-height: 38px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 7px;
}

.good-card__price:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border: 10px solid transparent;
  border-right: 10px solid var(--basic-white);
  border-bottom: 10px solid var(--basic-white);
}

.good-card__price:before {
  content: "";
  position: absolute;
  border: 10px solid transparent;
  top: 0;
  right: 0;
  border-top: 10px solid var(--basic-white);
  border-right: 10px solid var(--basic-white);
}

.good-card__price-value {
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-decoration: none;
    color: var(--basic-white);
}

.good-card__purchase-button {
  display: none;
}

.good-card:hover .good-card__purchase-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 38px;
}

.good__add-to-cart {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-green);
    border-radius: 2px;
    background-origin: inset 0 3px 0 var(--button-outline-green);
    border: none;
    box-shadow: inset 0 -3px 0 var(--button-outline-green);
    width: 135px;
    display: flex;
    justify-content: center;

    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 12px;
    position: relative;
}

.good__add-to-cart::before {
  content: url(../img/icon-cart.svg);
  margin-right: 7px;
}

.good__add-to-cart:hover {
    background-color: var(--button-hover-green);
}

.good__add-to-cart:active {
    background-color: var(--button-click-green);
}

.good__add-to-save {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--text-darkblue);
    background-color: var(--basic-white);
    border: 3px solid var(--basic-green);
    width: 135px;
    text-align: center;
    box-sizing: border-box;
    padding: 6px 0 7px;
}

.good__add-to-save:hover {
    border: 3px solid var(--text-darkblue);
}

.good__add-to-save:active {
    border: 3px solid var(--text-darkblue);
    opacity: 0.5;
}

.new-category__good {
  transform: rotate(45deg);
  top: 7px;
  right: -28px;
}

/* Секция популярные производители */

.main-page__companies {
  margin-bottom: 66px;
}

.popular-companies {
  display: grid;
}

.popular-companies__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Карточка одной компании */

.company-card {
    border: 1px solid var(--light-grey);
    height: 145px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.company-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.company-card:active {
    border:none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    opacity: 0.1;
}

/* Секция сервисы  */

.main-page__services {
  width: 100%;
  padding-top: 64px;
}

.services {
  background-color: var(--basic-background);
}

.services__description {
  margin: 0;
}

.services__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;

  margin-bottom: 24px;
  margin-top: 0;
}

.services__lead {
  font-family: "PT Sans", "Arial", sans-serif;

  margin: 0;
}

.services-pager {
  display: grid;
  grid-template-columns: 240px 2fr;
  gap: 80px;
  position: relative;

  margin-top: 68px;
  margin-bottom: 70px;
}

.services-pager__items {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
}

.services-pager__items:after {
  content: url("../img/object.svg");
  position: absolute;
  right: 0;
  transform: translateY(-51px);
}

.services-pager__item {
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-white);
    background-color: var(--text-darkblue);
    border:none;
    text-align: start;

    min-width: 240px;
    padding: 14px 0 18px 22px;
}

.services-pager__item--active {
    color: var(--text-darkblue);
    background-color: var(--basic-white);
    border: none;
}

.services-pager__item:hover {
    background-color: var(--footer-blue);
}

.services-pager__card-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: var(--text-darkblue);
    text-transform: uppercase;

    margin-top:0;
    margin-bottom: 30px;
}

.services-pager__card-description {
  font-family: "PT Sans", "Arial", sans-serif;
}

.services-pager__card-description__delivery {
  width: 274px;
}

.services-pager__card-description__guarantee {
  width: 317px;
  margin: 0;
}

.services-pager__card-description__credit {
  width: 279px;
  margin: 0;
}

.services-pager__card--first-service::before {
  content: url(../img/delivery-layer.png);
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 10%;
  height: 236px;
}

.services-pager__card--second-service::before {
  content: url(../img/guarantee-layer.png);
  position: absolute;
  overflow: hidden;
  right: 0;
  height: 254px;
}

.services-pager__card--third-service::before {
  content: url(../img/credit-layer.png);
  position: absolute;
  overflow: hidden;
  right: 0;
  height: 255px;
}

.services-pager__send-application {
  border: none;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  width: 195px;
  text-align: center;
  padding: 10px 0;
  margin-top: 25px;
}

/* Секция о компании */

.company-info__title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 24px;
}

.company-info__promo-text {
  font-family: "PT Sans", "Arial", sans-serif;
  margin-top: 0;
  margin-bottom: 24px;
}

.company-info__partners-text {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
}

.company-info__partner-list {
    padding: 0;
    list-style: none;
    margin: 6px 0 25px 0;
}

.company-info__partner-item {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
}

.company-info__partner-item span {
    color: var(--basic-red);
    margin-right: 12px;
}

.company-info__link {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--basic-white);
    background-color: var(--basic-red);

    text-align: center;
    min-width: 220px;
    padding: 10px 40px;
}

/* Секция контакты  */

.about-us {
  display: grid;
  grid-template-columns: 460px min-content;
  gap: 180px;
  padding: 70px 0;
}

.contacts__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 24px;
}

.contacts__text {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  display: block;
  width: 177px;
}

.contacts__button {
    color: var(--basic-white);
    background-color: var(--basic-red);
    border: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    line-height: 18px;

    min-width: 300px;
    padding: 10px 60px;
}

.contacts__button:hover {
    background-color: var(--button-hover);
}

.contacts__button:active {
    background-color: var(--button-click-red);
}

.contacts__map {
  margin: 33px 0 17px 0;
}

/* Contacts__modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;

  font-size: 18px;
  line-height: 24px;
  display: none;
}

.contacts__modal,
.modal-good-in-cart {
  width: 620px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-top: 7px solid  var(--basic-red);
  background-color: var(--basic-white);
}

.modal-good-in-cart {
  top: 30%;
  bottom: auto;
}

.modal-good-in-cart--visiable {
  display: block;
}

.contacts__form-content {
  display: grid;
  grid-template-columns: repeat(2, 220px);
  column-gap: 20px;
  row-gap: 14px;
  margin: 46px 80px 29px;
}

.contacts__item {
  margin: 0;
}

.contacts__item-label {
  display: block;
  margin-bottom: 11px;
}

.contacts__item-input,
.contacts__item-form-message {
  font-size: 13px;
  line-height: 24px;
  border: 2px solid var(--basic-greylight);
  box-sizing: border-box;
}

.contacts__item-input {
  width: 220px;
  padding: 5px 10px 5px 12px;
}

.contacts__item_appeal {
  grid-column: 1 / -1;
}

.contacts__item-form-message {
  resize: none;
  width: 100%;
  min-height: 114px;
  padding-left: 12px;
  padding-bottom: 7px;
}

.contacts__modal-button-wrapper {
  background-color: var(--button-modal-background);
  width: 100%;
  min-height: 112px;
}

.contacts__modal-button {
  font-size: 14px;
  line-height: 18px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  width: 460px;
  padding: 10px 0;
  margin: 37px 80px;
}

.make-an-order-button,
.continue-purchases {
  font-size: 14px;
  line-height: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

.contacts__modal-close {
  position: absolute;
  top: 15px;
  right: 11px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.contacts__modal-close::before,
.contacts__modal-close::after {
  content: "";
  position: absolute;
  top: 15px;
  left: -1px;
  width: 27px;
  height: 4px;
  border-radius: 3px;
  background-color: var(--basic-red);
}

.contacts__modal-close::before {
  transform: rotate(45deg);
}

.contacts__modal-close::after {
  transform: rotate(-45deg);
}

/*Modal map*/

.modal__map {
  width: 943px;
  height: 449px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-top: 4px solid  var(--basic-red);
}

.modal__map-close {
  right: 10px;
  top: 10px;
}

/*Modal good in cart */

.modal-good-in-cart__lead {
  font-family: "Cuprum", "Arial", serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  display: block;
  text-align: center;
  padding: 67px 0;
  position: relative;
  letter-spacing: 1px;
}

.modal-good-in-cart__lead::before {
  position: absolute;
  content: "";
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: var(--basic-green);
  left: 13%;
  top: 50%;
  transform: translateY(-50%);
}

.modal-good-in-cart__lead::after {
  position: absolute;
  content: "";
  width: 39px;
  height: 29px;
  background-image: url("/img/shape.svg");
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
}

.modal-good-in-cart__button-wrapper {
  background-color: var(--button-modal-background);
  width: 100%;
  min-height: 112px;
  box-sizing: border-box;
  padding: 0 112px;
}

.modal-good-in-cart__button-close {
  top: 6px;
  right: 15px;
}

.make-an-order-button,
.continue-purchases {
  font-family: "Cuprum", "Arial", serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding: 11px 0 9px;
  min-width: 192px;
  text-transform: uppercase;
  margin-top: 37px;
}

.make-an-order-button {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.continue-purchases {
  background-color: var(--basic-white);
  color: var(--basic-black);
  margin-left: 7px;
}

/* Футер */

.footer {
    background-color: var(--text-darkblue);
}

.footer__navigation {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 27px;
}

.logo__footer {
  min-height: 68px;
  padding: 0;
}

.footer__info {
  display: grid;
  grid-template-columns: min-content 1fr;
  margin-bottom: 47px;
  gap: 46px;
}

.footer__info-contacts {
  min-width: 325px;
}

.footer__references {
    background-color: var(--footer-blue);
    width: 100%;
}

.footer__references-copyright {
  margin: 0;
}

.footer__references-container {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  gap: 20px;
  align-items: center;
  min-height: 107px;
}

.footer__nav-list,
.footer__info-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__nav-wrapper {
  width: 550px;
  justify-self: end;
  margin-top: 36px;
}

.footer__info-wrapper {
  width: 550px;
  justify-self: end;
}

.footer__nav-list {
  display: flex;
  justify-content: space-between;
}

.footer__info-list {
  display: flex;
  justify-content: space-between;
  margin-left: 26px;
}

.footer__feedback {
  margin-left: 34px;
}

.footer__authors {
  text-align: end;
}

.footer__authors-text {
  margin-right: 17px;
}

.footer__authors-link {
  margin-right: 12px;
}

.footer-nav__link,
.footer__info-link,
.footer__info-address,
.footer__info-tel {
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: var(--basic-white);
}

.footer__info-link,
.footer__feedback-link,
.footer__authors-link {
    color: var(--yellow-for-link);
    text-decoration: none;
}

.footer-nav__link:hover,
.footer__info-link:hover,
.footer__feedback-link:hover,
.footer__authors-link:hover {
    text-decoration: underline;
}

.footer-nav__link:active,
.footer__info-link:active {
    text-decoration: none;
    opacity: 0.5;
}

.footer__references {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.footer__feedback-link:active,
.footer__authors-link:active {
    text-decoration: none;
    color: var(--basic-red);
}

/* Ссылки на социальные сети */
.footer__socials {
  justify-self: center;
}

.social__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 135px;
}

.social__link {
  background-color: var(--social-background);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social__link:hover,
.social__link:focus {
  background-color: var(--basic-red);
}

/* Страница catalog.html */

/* Main-header */

/*Общий flex для зарег. пользователя */
.registered-user {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: start;
  padding-top: 19px;
}

.registered-user__wrapper {
  background-color: var(--basic-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}

.registered-user__link-wrapper {
  display: flex;
  justify-content: center;
}

.registered-user__offers-link,
.registered-user__personal-account {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: var(--text-darkblue);
}

.registered-user__offers-link:hover,
.registered-user__personal-account:hover {
  color: var(--basic-red);
}

.registered-user__offers-link:active,
.registered-user__personal-account:active {
  color: var(--basic-greylight);
}

.registered-user__offers-link::after {
  content: url(../img/shape_ring.svg);
  align-self: center;
  margin: 0 15px;
}

/* Breadcrumbs */

.breadcrumbs__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumbs__item {
  position: relative;
  margin-left: 27px;
}

.breadcrumbs__item-content {
  content: url(../img/icon-home.svg);
}

.breadcrumbs__item::before {
  content: url(../img/icon-right-small.svg);
  position: absolute;
  right: -15px;
}

.breadcrumbs__link {
   font-family: "PT Sans", "Arial", sans-serif;
   line-height: 18px;
   text-decoration: none;
   text-transform: uppercase;
   color: var(--basic-black);
}

.page-catalog__heading {
    background-color: var(--header-background);
    min-height: 89px;
    display: flex;
    text-align: center;

    margin-bottom: 20px;
}

.heading-title {
  color: var(--text-darkblue);
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;

  padding: 30px;
  margin: 0;
}

.filter-section {
  font-family: "PT Sans", "Arial", sans-serif;
}

.filter-section__heading {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--background-catalog);
  border-radius: 3px;

  display: flex;
  align-self: center;
  padding: 10px 0 10px 18px;
}

.page-catalog__sort {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--background-catalog);

  display: grid;
  grid-template-columns: 220px 1fr min-content;
}

.page-catalog__sort-item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog__sort-arrows {
  margin-right: 23px;
}

.sort-arrows__list {
  list-style: none;
  margin: 11px 0 0 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 43px;
}

/* Filters */

.filter-section__range-filter {
  width: 220px;
}

.filter-section__range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 10px;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--background-catalog);
  border-radius: 5px;
}

.filter-section__scale {
  height: 2px;
  background-color: var(--iron-color);
}

.filter-section__bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-green);
}

.filter-section__toggle {
  position: absolute;
  top: 40px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-greylight);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--alto-color);
  cursor: pointer;
}

.filter-section__toggle-min {
  left: 18px;
}

.filter-section__toggle-max {
  left: 160px;
}

.filter-section__min-price,
.filter-section__max-price {
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.filter-section__price-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.filter-section__min-price-value,
.filter-section__max-price-value {
  width: 75px;
  padding: 10px;
  text-align: center;
  color: var(--basic-black);
  border: none;
  border-radius: 3px;
  background-color: var(--background-catalog);
  font-family: inherit;
  font-size: inherit;
}

.filter-section__interval-decor {
  padding-top: 6px;
}

/*Checkbox*/

.filter-section__company-item .filter-section__checkbox-label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-section__checkbox + .filter-section__checkbox-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -38px;
  width: 27px;
  height: 23px;

  -webkit-mask-image: url("/img/checkbox-off.svg");
    mask-image: url("/img/checkbox-off.svg");
  background-color: var(--checkbox-fill-color);

  -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.filter-section__checkbox:checked + .filter-section__checkbox-label::before {
  -webkit-mask-image: url("/img/checkbox-on.svg");
    mask-image: url("/img/checkbox-on.svg");
  background-color: var(--checkbox-fill-color);
}

.filter-section__checkbox:hover + .filter-section__checkbox-label::before,
.filter-section__checkbox:checked:hover + .filter-section__checkbox-label::before {
  background-color: var(--checkbox-fill-hover);
}

.filter-section__checkbox:disabled + .filter-section__checkbox-label::before,
.filter-section__checkbox:checked:disabled + .filter-section__checkbox-label::before {
  background-color: var(--checkbox-fill-disable);
}

/*Радио button*/

.filter-section__battery-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-section__radio-input + label::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -38px;
  border: 4px solid var(--checkbox-fill-color);
  border-radius: 50%;
}

.filter-section__radio-input:checked + label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -31px;
  width: 8px;
  height: 8px;
  background-color: var(--checkbox-fill-color);
  border-radius: 50%;
}

.filter-section__radio-input:hover + label::before {
  border: 4px solid var(--checkbox-fill-hover);
}

.filter-section__radio-input:disabled + label::before {
  border: 4px solid var(--checkbox-fill-disable);
}

.filter-section__radio-input:checked:hover + label::after {
  background-color: var(--checkbox-fill-hover);
}

.filter-section__radio-input:checked:disabled + label::after {
  background-color: var(--checkbox-fill-disable);
}


/*Обнуление для фиелдсетов*/
.filter-section__price,
.filter-section__companies,
.filter-section__battery {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-section__price {
  margin-top: 12px;
}

.filter-section__companies {
  margin-top: 15px;
}

/*Рамки под фиелдсетом*/
.filter-section__price,
.filter-section__companies {
  border-bottom: 1px solid var(--border-grey);
}
/*Стили для заголовков фиелдсетов*/
.filter-section__price-legend,
.filter-section__companies-legend,
.filter-section__battery-legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}


/*Стили для списков внутри*/
.filter-section__battery {
  margin-top: 12px;
}

.filter-section__companies-list,
.filter-section__battery-list {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-section__companies-list {
  margin: 18px 0 29px;
  padding-left: 38px;
}

.filter-section__battery-list {
  margin: 26px 0 38px;
  padding-left: 40px;
}

.filter-section__battery-item {
  margin-bottom: 22px;
}

.filter-section__company-item {
  margin-bottom: 20px;
}

.page-catalog__sort-type-list {
  text-decoration-style: dotted;
  margin: 0 0 0 21px;
  padding: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-self: center;
  width: 354px;
}

.page-catalog__sort-text {
  align-self: center;
  margin-left: 20px;
}

.page-catalog__sort-link {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--basic-black);
  opacity: 0.3;
  text-decoration-color: var(--basic-red);
}

.page-catalog__sort-link:hover {
  color: var(--basic-black);
  opacity: 1;
}

.page-catalog__sort-link--active {
  color: var(--basic-red);
  text-decoration: none;
  opacity: 1;
}

.sort-arrows__icon {
  fill: var(--basic-greylight);
}

.sort-arrows__icon:hover {
  fill: var(--basic-black);
}

.sort-arrows__icon--active {
  fill: var(--basic-red);
}

.filter__form-button {
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid var(--border-button);
  width: 220px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*
Секция каталога с товарами */

.page-catalog__goods {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0 0 58px 20px;
}

.catalog__goods-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;

  list-style: none;
  margin: 28px 0 43px 0;
  padding: 0;
}

.catalog__pagination-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.catalog__pagination-item {
  display: block;
}

.catalog__pagination-link,
.catalog__pagination-button {
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-black);
  border: 1px solid var(--border-button);
  border-radius: 2px;
  text-align: center;
}

.catalog__pagination-link {
  padding: 10px 15px;
  margin-right: 10px;
}

.catalog__pagination-button {
  text-transform: uppercase;
  line-height: 18px;
  background-color: var(--basic-white);
  padding: 10px 31px;
}

.catalog__pagination-link:hover,
.catalog__pagination-button:hover {
  border: 1px solid var(--basic-greylight);
}

.catalog__pagination-link:active,
.catalog__pagination-button:active,
.catalog__pagination-link:focus,
.catalog__pagination-button:focus  {
  border: 1px solid var(--basic-red);
}

.catalog__pagination-link--current {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.page-catalog__category-description {
  padding: 65px 0 70px;
}

.good-description__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;

  margin: 0 0 25px;
}

.good-description__text {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
}
